.cal {
  display: inline-block;
  border: .1px solid #CCCAC5;
  background-color: #FFF;
  width: 250px;
  /* height: 250px; */
  font-family: Arial, sans-serif;
  text-align: center;
  /* border-radius: 5px; */
}

.cal .month {
  height: 50px;
  line-height: 50px;
  font-size: 2rem;
  text-transform: uppercase;
  background-color: #E75951;
  color: #FFF;
}

.cal .date {
  font-size: 10rem;
  color: #585858;
  line-height: 175px;
}
